.logo
  {
  height: 70px;
  width: 100px;
}
.navbar
{
  background-color: rgb(248, 149, 199) !important;
  padding: 0 !important;
  
}
.navbar-brand
{
  padding-top: 0;
  padding-bottom: 0;
}